{% extends "base.html" %}

{% block sidebar_nav %}
<li class="nav-item">
    <a href="{% url 'parent_home' %}" class="nav-link {% block nav_home_active %}{% endblock %}">
        <i class="nav-icon bi bi-house"></i>
        <p>Home</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'chore_list' %}" class="nav-link {% block nav_chores_active %}{% endblock %}">
        <i class="nav-icon bi bi-check2-square"></i>
        <p>Manage Chores</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'bank_adjust' %}" class="nav-link {% block nav_bank_adjust_active %}{% endblock %}">
        <i class="nav-icon bi bi-piggy-bank"></i>
        <p>Time Bank</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'bank_history' %}" class="nav-link {% block nav_bank_history_active %}{% endblock %}">
        <i class="nav-icon bi bi-clock-history"></i>
        <p>Bank History</p>
    </a>
</li>
<li class="nav-item">
    <a href="/parent/kids/" class="nav-link {% block nav_kids_active %}{% endblock %}">
        <i class="nav-icon bi bi-people"></i>
        <p>Kids</p>
    </a>
</li>
<li class="nav-item">
    <a href="/parent/settings/" class="nav-link {% block nav_settings_active %}{% endblock %}">
        <i class="nav-icon bi bi-gear"></i>
        <p>Settings</p>
    </a>
</li>
{% endblock %}
